<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Products" description="Feature Products" dependencies="Foundation.Serialization,Foundation.Indexing" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\feature\products\serialization"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />

          <!-- deploy the items only once (mainly for scheduler)-->
          <evaluator type="Unicorn.Evaluators.NewItemOnlyEvaluator, Unicorn" singleInstance="true"/>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn"/>
          
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Feature.Products.Templates" database="master" path="/sitecore/templates/Feature/Products" />
            <include name="Feature.Products.Tasks" database="master" path="/sitecore/system/Tasks/Commands/Habitat" />
            <include name="Feature.Products.Schedulers" database="master" path="/sitecore/system/Tasks/Schedules/Habitat" />

            <include name="Feature.Products.BucketRule" database="master" path="/sitecore/system/Settings/Rules/Definitions/Elements/Bucketing/Resolve Active Product Based Path" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>